__pycache__/
.venv/
*.pyc
*.log
.vscode/
.idea/
.DS_Store
output/
Controller/public/OutputFiles/
Controller/public/UploadFiles/
*.mp4
*.avi
__pycache__/
.venv/
*.pyc
*.log
.vscode/
.idea/
.DS_Store
Controller/node_modules/
Controller/utils/bin/
Controller/public/OutputFiles/
Controller/public/UploadFiles/
output/
result/
*.mp4
*.avi
*.h5
